* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
.link {
  text-decoration: none;
  font-size: 45px;
}
